/* FOOTER */

.footer {
  background-color: $white;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e5e5e5;
  padding-top: 8px;
}

.copyright__text {
  color: $dark;
  @include font($serif, 14px, 400, 16px);
  margin-bottom: 20px;
}

.copyright__word--red {
  color: $pink;
}

/* FORM */

.form {
  display: flex;
  align-items: center;

  &__email {
    width: 230px;
    height: 40px;
    border: 1px solid #e7e7e7;
    background-color: $white;
    padding-left: 13px;
  }
}


// -------MEADIA---------

@media (min-width:640px){
  .container{
    width: 640px;   
  }
  
  .footer {
    flex-direction: row;
  }

  .copyright__text {
    margin-bottom: 0;
  }
}


@media (min-width:1200px){
  .container{
    width: 900px;   
  } 
}
