$serif: "Montserrat", Arial, Helvetica, sans-serif;
$kaushan-script: "Kaushan Script", cursive;
$robo: "Roboto";

@mixin font($font-family, $font-size, $font-weight, $line-height) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

// colors

$white: #ffffff;
$yellow: #fbe287cf;
$pink: #f38181cf;
$dark: #333333;
$grey: #999999;
$aqua: #95e1d3;
