* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 480px;
  height: 100%;
  padding: 37px;
  margin:auto;
  font-size: 16px;
  box-shadow: 0 0 2px 2px rgba(3, 3, 3, 0.5);
  font-family: Arial;
  background-image: url('content-bg.png');
  
}


h2 {
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 20px;
  font-family: 'Pathway Gothic One', sans-serif; 
}

h2, h5 {
  color: #191970;
}

h5{
    font-size: 14px;
    margin-bottom: 20px;
}
img {
  width: 100%; 
  display: block;
  margin: auto;
  margin-bottom: 20px;
  
}

p {
  margin-bottom: 20px;
  font-size: 12px;
}



li{
    margin:20px;
   list-style-type: none;
  
}

ul{
    columns: 2;
}

body{
    background-image: url('page-bg.png');
      background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.principles{
    margin: 54px 0 54px 0;
    border-bottom: 2px solid grey;
     margin-bottom: 54px;
  
    
}
.principles p{
    width: 80%;
}

.offers{
    
    margin-top: 54px;
}

.agency p{
    margin-bottom: 0;
}