body {
    padding-top: 50px;
    counter-reset: list;
    background-image: url('img/page-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    word-spacing: 4px; 
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after {
  display: table;
  content: '';
  clear: both;
}

.wrapper {
  width: 1024px;
  padding: 50px;
  margin:auto;
  background-color: #ffffff; 
}

.agency {
    width: 69%;
    display: inline-block;
    margin-right: calc(7% - 8px); 
    vertical-align: top; 
}

.agency p:last-child{
 margin-bottom: 0;   
}

.principles {
    width: 24%;
    display: inline-block;
  vertical-align: top;
}

.principles p{
    margin-bottom: 0;
}

.principles li{
    margin-bottom: 20px;
}

.offers {
    width: 69%;
    display: inline-block;
    margin-right: 50px; 
    vertical-align: top;
}


li.offers-list-item:before {
    content: "→";
    left: -15%;
    color: rgba(16, 161, 193, 0.97);
    display: inline-block;
}

.testimonial {
    width: 24%;
    display: inline-block; 
    position: static;
    vertical-align: top;
}

.testimonial-text{
    background-color: #f5eceb;
    padding: 20px;
    margin-bottom: 0;
}

.testimonial-text:before{
    content:"“";
}
.testimonial-text:after{
    content:"”";
}

.testimonial-author h5 {
    text-align: center;
}
.testimonial-author p {
    text-align: center;
}

.first-block{
    padding-bottom: 50px;
    border-bottom: 0.5px solid grey;    
}

.second-block{
    margin-top: 50px;
}

h2 {
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 40px;
  font-family: 'Pathway Gothic One', sans-serif; 
  color: #263555;
  font-weight: normal;
}



h5{
    font-size: 15px;
    margin-bottom: 20px;
    color: #0d6384;
    font-weight: normal;
}

img {
  width: 60%; 
  display: block;
  margin: auto;
  margin-bottom: 20px;
  margin-right: 20px;
  float: left;
  
}

p {
  margin-bottom: 20px;
}



li{
   list-style-type: none; 
}

.principles-article {
    display: inline-block;
    width: 78%;
}

.principles-list-item h5 {
    font-weight: 400;
    color: #263555;
    margin-bottom: 10px;
    position: relative;
    width: 85%;
    display: inline-block;  
}



.principles-list-item::before {
	counter-increment: list;
	content: counter(list);
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	border-radius: 50%;
	background-color: #1789fc;
	color: #fefefe;
	text-align: center;
	line-height: 30px;
    vertical-align: top;
}

.principles li:last-child {
	margin-bottom: 0;
}

li.offers-list-item a {
    text-decoration: none;
    color: #263555;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}

li.offers-list-item {
    list-style: none;
    margin-bottom: 25px;
    position: relative;
    left: 15%;
    display: block;
    
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul.offers-list {
    column-width: 200px;
    column-gap: 50px;
}

.testimonial-box::after {
    content: " ";
    display: inline-block;
    position: relative;
    background-color: #f5eceb;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    border-bottom: 1px solid #dfdcdc;
    border-right: 1px solid #dfdcdc;
    left: 100px;
    top: -16px;
}

