    .main-wrapper{
        padding-top: 4.375rem;
        padding-bottom: 3.75rem;
        background-color: var(--white-color);
        text-align: center;
    }

    .main-title{    
        padding: 0 1.2rem;
        color: var(--primary-dark-color);
        font-family:var(--main-font-title);
        font-weight: 700;
        font-size: 1.375rem;
        margin-bottom: 1.875rem;
    }

    .partners-list{
        margin-bottom: 1.875rem;
    }

    .partner-card{
       align-items: center;
    }

    .partner-card img{
        position: relative;
        border-radius: 50%;
        height: 7.5rem;
        width: 7.5rem;
        margin-bottom: 1.4375rem;
        margin-right: auto;
        margin-left: auto;
    }

    .card-title{
        font-family: var(--main-font-title);
        font-weight: 700;
        color: var(--primary-dark-color);
        font-size: 0.875rem;
        margin-bottom: 1.05rem;
    }

    .card-text{
        font-family: var(--secondary-font);
        font-weight: 300;
        color: var(--secondary-dark-color);
        font-size: 0.875rem;
        line-height: 0.875rem;
    }

    .main-btn{
        display: inline-block;
        color:var(--button-color);
        padding: 1rem 4.125rem;
        text-decoration: none;
        font-family:var(--main-font-title);
        font-weight: 700;
        font-size: 0.875rem;
        border: 0.125rem solid var(--button-color);
        border-radius: 2.25rem;
    }

@media (max-width:747px){

    .partner-card:not(:last-child){        
        margin-bottom: 1.875rem;
    }
}

@media (min-width:748px){

    .main-wrapper{
        padding: 4.6875rem 8.625rem 2.5rem 8.625rem;        
    }

    .main-title{    
        padding: 0;
    }   
}

@media (min-width:748px) and (max-width:939px) {

    .partner-card:nth-of-type(-n+2){        
        margin-bottom: 1.875rem;
    }
}

@media (min-width: 940px){

    .main-wrapper{
        padding: 4.375rem 0 3.75rem 0;        
    }
}