@import url('vars.css');
@import url('normalize.css');

.masthead-wrapper {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(252, 227, 138, 0.81)),
      to(rgba(243, 129, 129, 0.81))
    ),
    url("../img/Layer 15-min.png");
  background-image: -webkit-linear-gradient(
      bottom,
      rgba(252, 227, 138, 0.81) 0%,
      rgba(243, 129, 129, 0.81) 100%
    ),
    url("../img/Layer 15-min.png");
  background-image: -o-linear-gradient(
      bottom,
      rgba(252, 227, 138, 0.81) 0%,
      rgba(243, 129, 129, 0.81) 100%
    ),
    url("../img/Layer 15-min.png");
  background-image: -webkit-gradient(
      linear,
      left bottom, left top,
      from(rgba(252, 227, 138, 0.81)),
      to(rgba(243, 129, 129, 0.81))
    ),
    url("../img/Layer 15-min.png");
  background-image: linear-gradient(
      to top,
      rgba(252, 227, 138, 0.81) 0%,
      rgba(243, 129, 129, 0.81) 100%
    ),
    url("../img/Layer 15-min.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 22px;
  padding-bottom: 230px;
}

@media (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .masthead-wrapper {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgba(252, 227, 138, 0.81)),
        to(rgba(243, 129, 129, 0.81))
      ),
      url("../img/Layer 15-min@2.png");
    background-image: -webkit-linear-gradient(
        bottom,
        rgba(252, 227, 138, 0.81) 0%,
        rgba(243, 129, 129, 0.81) 100%
      ),
      url("../img/Layer 15-min@2.png");
    background-image: -o-linear-gradient(
        bottom,
        rgba(252, 227, 138, 0.81) 0%,
        rgba(243, 129, 129, 0.81) 100%
      ),
      url("../img/Layer 15-min@2.png");
    background-image: -webkit-gradient(
        linear,
        left bottom, left top,
        from(rgba(252, 227, 138, 0.81)),
        to(rgba(243, 129, 129, 0.81))
      ),
      url("../img/Layer 15-min@2.png");
    background-image: linear-gradient(
        to top,
        rgba(252, 227, 138, 0.81) 0%,
        rgba(243, 129, 129, 0.81) 100%
      ),
      url("../img/Layer 15-min@2.png");
  }
}


.container {
  max-width: 1200px;
  margin: auto;
}

/* HEADER */

.masthead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 37px;
}

/* LOGO */

.logo {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.logo__letter--uppercase {
  text-transform: uppercase;
}

/* MENU */

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.masthead__nav {
  margin-left: auto;
  margin-right: 55px;
}

.nav__item {
  list-style: none;
  text-transform: uppercase;
  border-bottom: 3px solid rgba(252, 227, 138, 0);
}

.nav__item:hover,
.options__link:hover {
  border-bottom: 3px solid rgb(252, 227, 138);
}

.nav__item:not(:last-child) {
  margin-right: 55px;
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
}

.masthead_options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.options__link {
  display: inline-block;
  text-decoration: none;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  line-height: 45px;
  border-bottom: 3px solid rgba(252, 227, 138, 0);
}

.options__link:first-child {
  margin-right: 38px;
}

/* BANNER */

.banner {
  min-width: 541px;
  max-width: 802px;
  text-align: center;
}

.masthead__banner {
  margin-top: 154px;
  margin-right: auto;
  margin-left: auto;
}

.banner__motto {
  color: #ffffff;
  font-family: "Kaushan Script", cursive;
  font-size: 72px;
  font-weight: 400;
  text-transform: capitalize;
  display: block;
}

.banner__title {
  max-width: 802px;
  letter-spacing: -7px;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 150px;
  font-weight: 700;
  line-height: 140px;
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: 109px;
}

/* BUTTON */

.button {
  width: 160px;
  height: 40px;
  display: inline-block;
  border: 3px solid #ffffff;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 37px;
}

.button:hover {
  border: 3px solid rgba(243, 129, 129, 0.81);
  color: rgba(243, 129, 129, 0.81);
}

/* SECTION SERVICE */

/* HEADER SERVICE */

.service-wrapper {
  padding-top: 45px;
  background-color: #ffffff;
}

.section-header {
  text-align: center;
}

.section-header__service{
  margin-bottom: 60px;
}

.section-header__caption {
  display: block;
  color: #333333;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  font-weight: 400;
}

.section-header__title {
  color: #333333;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 0;
}

.section-header__title::after {
  display: block;
  content: "";
  width: 60px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 37px;
  background-color: #f38181;
}

/* LIST SERVICE */

.alarm-icon{
  background: url("../img/alarm.svg") no-repeat center;
}

.line-graph-icon{
  background: url("../img/line-graph.svg") no-repeat center;
}

.computer-icon{
  background: url("../img/computer-ok.svg") no-repeat center;
}

.book-icon{
  background: url("../img/book-2.svg") no-repeat center;
}

.home-icon{
  background: url("../img/home.svg") no-repeat center;
}

.image-icon{
  background: url("../img/image.svg") no-repeat center;
}

.image-icon, .home-icon, .book-icon,
.computer-icon, .line-graph-icon, .alarm-icon{
  display: block;
  margin: 0 auto;
  width: 32px;
  height: 31px;
  background-repeat: no-repeat;
  background-size: contain;
}

.list-service {
  max-width: 1142px;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.service__list-service {
  margin-left: auto;
  margin-right: auto;
  margin-top: 66px;
}

.list-service__item {
  list-style: none;
  -ms-flex-preferred-size: 340px;
  flex-basis: 340px;
}

.list-service__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 94px;
}

.service-content__subtitle {
  margin-top: 0;
  margin-bottom: 0;
  color: #333333;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.service-content__text {
  margin-top: 8px;
  margin-bottom: 0;
  color: #999999;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.service-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-preferred-size: 340px;
  flex-basis: 340px;
}

.service-content__box {
  -ms-flex-preferred-size: 278px;
  flex-basis: 278px;
}

/* SECTION TEAM */

.team-wrapper {
  padding-top: 74px;
  padding-bottom: 79px;
}

.section-header__text {
  max-width: 954px;
  color: #999999;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

/* LIST TEAM */

.team-list {
  padding-left: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.team__team-list {
  margin-top: 89px;
}

.team-list__item {
  list-style: none;
}

/* CARD TEAM */

.team-card {
  background-color: #95e1d3;
}

.team-card:hover .team-card__content {
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}

.team-card:hover .team-card__content::after {
  opacity: 1;
}

.team-card__content {
  position: relative;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.team-card__content::after {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  content: "";
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(252, 227, 138, 0.81)),
    to(rgba(243, 129, 129, 0.81))
  );
  background-image: -webkit-linear-gradient(
    bottom,
    rgba(252, 227, 138, 0.81) 0%,
    rgba(243, 129, 129, 0.81) 100%
  );
  background-image: -o-linear-gradient(
    bottom,
    rgba(252, 227, 138, 0.81) 0%,
    rgba(243, 129, 129, 0.81) 100%
  );
  background-image: -webkit-gradient(
    linear,
    left bottom, left top,
    from(rgba(252, 227, 138, 0.81)),
    to(rgba(243, 129, 129, 0.81))
  );
  background-image: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.81) 0%,
    rgba(243, 129, 129, 0.81) 100%
  );
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

/* ICONS TEAM */

.team-card:hover .team-icons {
  opacity: 1;
}

.team-icons {
  display: inline-block;
  background-color: #fce38a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.team-card__team-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.team-icons__facebook,
.team-icons__twitter,
.team-icons__pinterest,
.team-icons__instagram {
  display: inline-block;
  text-decoration: none;
  fill: #f38181;
  padding: 15px 20px;
}

.team-icons__facebook:hover,
.team-icons__twitter:hover,
.team-icons__pinterest:hover,
.team-icons__instagram:hover {
  fill: #ffffff;
  background-color: #f38181;
}

/* TEAM FOOTER */

.team-card__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 28px;
  background-color: #ffffff;
}

.team-card__name {
  display: block;
  color: #333333;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.team-card__pos {
  display: block;
  font-style: italic;
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

/* FOOTER */

.footer {
  background-color: #ffffff;
  padding-bottom: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid #e5e5e5;
  padding-top: 8px;
}

.copyright__text {
  color: #333333;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.copyright__letter--uppercase,
.copyright__word--uppercase {
  text-transform: uppercase;
}

.copyright__word--red {
  color: #f38181;
}

/* FORM */

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form__email {
  width: 230px;
  height: 40px;
  border: 1px solid #e7e7e7;
  background-color: #ffffff;
  padding-left: 13px;
}

